In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("candy-data.csv", index_col=0)
print(df.info())
print(df.describe())
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 100 Grand to Whoppers
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   chocolate         85 non-null     int64
 1   fruity            85 non-null     int64
 2   caramel           85 non-null     int64
 3   peanutyalmondy    85 non-null     int64
 4   nougat            85 non-null     int64
 5   crispedricewafer  85 non-null     int64
 6   hard              85 non-null     int64
 7   bar               85 non-null     int64
 8   pluribus          85 non-null     int64
 9   sugarpercent      85 non-null     float64
 10  pricepercent      85 non-null     float64
 11  winpercent        85 non-null     float64
dtypes: float64(3), int64(9)
memory usage: 8.6+ KB
None
       chocolate     fruity    caramel  peanutyalmondy     nougat  \
count  85.000000  85.000000  85.000000       85.000000  85.000000
mean    0.435294   0.447059   0.164706        0.164706   0.082353
std     0.498738   0.500140   0.373116        0.373116   0.276533
min     0.000000   0.000000   0.000000        0.000000   0.000000
25%     0.000000   0.000000   0.000000        0.000000   0.000000
50%     0.000000   0.000000   0.000000        0.000000   0.000000
75%     1.000000   1.000000   0.000000        0.000000   0.000000
max     1.000000   1.000000   1.000000        1.000000   1.000000

       crispedricewafer       hard        bar   pluribus  sugarpercent  \
count         85.000000  85.000000  85.000000  85.000000     85.000000
mean           0.082353   0.176471   0.247059   0.517647      0.478647
std            0.276533   0.383482   0.433861   0.502654      0.282778
min            0.000000   0.000000   0.000000   0.000000      0.011000
25%            0.000000   0.000000   0.000000   0.000000      0.220000
50%            0.000000   0.000000   0.000000   1.000000      0.465000
75%            0.000000   0.000000   0.000000   1.000000      0.732000
max            1.000000   1.000000   1.000000   1.000000      0.988000

       pricepercent  winpercent
count     85.000000   85.000000
mean       0.468882   50.316764
std        0.285740   14.714357
min        0.011000   22.445341
25%        0.255000   39.141056
50%        0.465000   47.829754
75%        0.651000   59.863998
max        0.976000   84.180290

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
competitorname,,,,,,,,,,,,
100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465